
{{#if user}}
<h2>Monumentos adicionados recentes:</h2>
{{#each monumentos}}
<div class="card mt-2">
    <div class="card-body">
        <h3>{{nomeobra}}</h3>
        <p>{{descricao}}</p>
        <hr>
        <small>Categoria: {{categoria.nome}}</small><br>
        <small>Data de publicação: {{data}}</small><br>
        <a href="/monumentos/{{nomeobra}}"><button class="btn btn-success mt-2">Leia mais</button></a>
    </div>
</div>
{{else}}
    <h5>Nenhum monumento cadastrado!</h5>
{{/each}}

{{else}}
<div class="jumbotron">
  <h1 class="display-4">Bem vindo!</h1>
  <p class="lead">Apenas um teste criando uma API NodeJS.</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Crie uma conta</a>
  </p>
</div>

{{/if}}
