<h1>{{categoria.nome}}</h1>
{{#each monumentos}}

<div class="card">
    <div class="card-body">
        <h3>{{nomeobra}}</h3>
        <p>{{descricao}}</p>
        <a href="/monumentos/{{nomeobra}}"><button class="btn btn-success">Leia mais</button></a>
        <hr>
        <small>Data de publicação: {{data}}</small>
    </div>
</div>
{{else}}
<small>Nenhum monumento cadastrado!</small>
{{/each}}